:root {
    --font-family: 'Comfortaa', cursive;
    --color: #dedede;
  }
  

#map {
    height:100vh; 
    position: relative;
}


.search-container{
    position: absolute;
    top:10px;
    right:10px;
    width:50px;
    height:50px;
    
    z-index: 314159;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    transition: width 1s ease-in-out;
}


.search-container-expand{
    width:100%;
  }



#search-icon{
   
    height: 80px;
   

}

.search-group{

    align-self: flex-end ; 
    
    border: 2px solid black;
    background-color:var(--color);
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
    width:0px;
    opacity:0;
    position:absolute;
    right:60px;
    top:45px;
    



    display: flex;
    transition: width 1s ease-in-out, opacity 1s ease-in-out;
    

}

.search-group-expand{
    opacity:1;
    width:235px;
  }



.search-btn{
    font-family:var(--font-family); 
    color:var(--color);
    font-size: small;
    flex:1;
    background-color: #273b8a;
    opacity: 0;
    visibility :hidden;
    margin-right:10px;

    transition: opacity 1s ease-in-out, visibility 0.2s ease-in-out;

}

.search-btn-expand{
    opacity: 1;
    visibility: visible;
  }


.search-input{
    font-family:var(--font-family);
    font-size: small;
    flex:2;
    border: 0px;
    outline: none;
    background-color: var(--color);
    width:20px;
    opacity: 0;
    visibility :hidden;

    transition: opacity 1s ease-in-out, visibility 0.2s ease-in-out;


}


.search-input-expand{
    opacity: 1;
    visibility: visible;
  }


.search-results {
    
    border-radius: 10px;
    margin-top: 10px;
    overflow-y: auto;
    max-height:300px;
    width: 320px;
    position:absolute;
    background-color: rgba(222, 222, 222, 0.82);
    top:100px;
    right:10px;
    opacity: 0;
    visibility :hidden;
    

    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}


.search-results-expand{
    opacity: 1;
    visibility: visible;
  }


.search-result .para{

    font-family: var(--font-family);


}

.search-result .line{

    background-color:#273b8a;
    width:auto;
    height:70px;
  

}






@media (min-width:767px) {
    .search-container{
        
        left:30px;
        right:0px;
        justify-content: flex-start;
        

        transition: width 1s ease-in-out;
    }
    
    .search-container-expand{
        width:400px;
        
    }

    #search-icon{
   
        height: 120px;
        transform: scaleX(-1);
    
    }
        
    
    .search-group{
        left:90px;
        top:70px;
        right:0px;
        flex-direction: row-reverse;

    }

    .search-group-expand{
        width:400px;
      }

    .search-btn{
        font-size: medium;
        margin-left:10px;
    }

    .search-input{
        font-size: medium;
    }

    .search-results {
        top:120px;
        left: 90px;
        right:0px;

    }


    .search-results-expand{
        width:400px;
    }

}


@media (min-width:1200px) {
    .search-container{
        
        left:30px;
        right:0px;
        justify-content: flex-start;

        transition: width 1s ease-in-out;
    }
    
    .search-container-expand{
        width:400px;
        
    }

    #search-icon{
   
        height: 150px;
    
    
    }
    
       
    
    .search-group{
        left:110px;
        top:90px;
        height: 60px;

    }

    .search-group-expand{
        width:500px;
      }

    
    .search-btn{
        font-size: large;
        margin-left:10px;
    }

    .search-input{
        font-size: large;
    }

    .search-results {
        top:150px;
        left:110px;
        right:0px;

    }

    .search-results-expand{
        width:500px;
    }

}